@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  color: black;
}
button:focus {
  outline: none;
}
a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

/* Product-inner page */
.product-inner ::-webkit-scrollbar {
  display: none;
}
/* Product-inner page */


